#container{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}
#info {
    height: 900px;
    width: 100%;
    display: flex;
    flex-flow: wrap;
}
.stats{
    height: 50%;
    width: 50%
    display: flex;
}

.babbles{
    height: 50%;
    width: 100%;
    align-self: flex-end;
}
.image{
    height: 50%;
    width: 50%;
    background-size: contain;
}
.buttons{
    align-self: flex-end;
}
#showAll{
    position: static;

}